// styling
@brand-primary           : #002A4A;
@brand-primary-light     : #3988C4;
@brand-primary-dark      : #111920;

@body-bg                 : @brand-primary-dark;

@brand-white             : #CCD7E0;
@brand-grey              : #3F484F;
@brand-grey-light        : mix(@brand-grey, @brand-white);

@border-radius-base      : 3px;

@input-bg                : @brand-white;
@input-color             : @brand-primary;
@input-border            : @input-bg;

@btn-default-color       : @brand-primary;
@btn-default-bg          : #fff;
@btn-default-border      : lighten(@brand-primary, 5%);

@btn-primary-color       : #fff;
@btn-primary-bg          : @brand-primary;
@btn-primary-border      : lighten(@brand-primary, 5%);

@panel-bg                : #fff;
@panel-body-padding      : 15px;
@panel-border-radius     : @border-radius-base;

//** Border color for elements within panels
@panel-inner-border      : #ddd;
@panel-footer-bg         : transparent;

@panel-default-text      : @gray-dark;
@panel-default-border    : #ddd;
@panel-default-heading-bg: transparent;
