<html lang="en" ng-app="checkinator">
  <head>
    <title>Checkinator</title>
    <script type='text/javascript' src='/app/lib/angular/angular.min.js'></script>
    <script type='text/javascript' src='/app/lib/firebase/firebase.min.js'></script>
    <script type='text/javascript' src='/app/lib/firebase/angularfire.min.js'></script>
  	<script type='text/javascript' src='/app/lib/firebase/firebase-simple-login.js'></script>
  	<script type='text/javascript' src='/app/lib/angular/angular-route.min.js'></script>
  	<script type='text/javascript' src='/app/lib/ui-bootstrap-tpls-0.10.0.min.js'></script>	
  	<script type='text/javascript' src='/app/app.js'></script>
  	<link rel="stylesheet" href="/app/css/bootstrap.min.css" />
  	<link rel="stylesheet" href="/app/css/bootstrap-theme.min.css" />
  </head>
  <body>
  	<login></login>
  	<div class="row">
  		<ng-view></ng-view>
  	</div>
  </body>
</html>