<html lang="en" ng-app="checkinator">
  <head>
    <title>Checkinator</title>
    <script type='text/javascript' src='/app/lib/angular/angular.min.js'></script>
    <script type='text/javascript' src='/app/lib/firebase/firebase.min.js'></script>
    <script type='text/javascript' src='/app/lib/firebase/angularfire.min.js'></script>
    <script type='text/javascript' src='/app/lib/firebase/firebase-simple-login.js'></script>
    <script type='text/javascript' src='/app/lib/angular/angular-route.min.js'></script>
    <script type='text/javascript' src='/app/lib/ui-bootstrap-tpls-0.10.0.min.js'></script> 
    <script type='text/javascript' src='/app/app.js'></script>
    <link rel="stylesheet" href="/app/css/style.css" />

    <meta name="viewport" content="width=device-width, user-scalable=no">
    
  </head>
  <body>
    <login></login>
    
    <ng-view class="status-layout"></ng-view>

  </body>
</html>